---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Software engineer specializing in web development with a focus on WordPress and React"
  pubDate={new Date()}
>
  <p>
    Hi, I'm Michal Czaplinski, a software engineer passionate about web
    development and open source. I'm currently looking for a new challenge!
  </p>

  <p>
    With extensive experience in JavaScript, TypeScript, PHP, and React, I've
    been deeply involved in developing tools and frameworks that empower the
    WordPress ecosystem. Some of the projects I've contributed to include:
  </p>

  <ul>
    <li>
      <a href="https://wordpress.org/about/core/" target="_blank"
        >WordPress Core</a
      >
    </li>
    <li>
      <a href="https://github.com/WordPress/gutenberg" target="_blank"
        >Gutenberg - The Block Editor for WordPress</a
      >
    </li>
    <li>
      <a href="https://frontity.org" target="_blank"
        >Frontity - The React Framework for WordPress</a
      >
    </li>
    <li>
      <a
        href="https://github.com/WordPress/gutenberg/tree/trunk/packages/interactivity"
        target="_blank">WordPress Interactivity API</a
      >
    </li>
  </ul>

  <p>
    Beyond WordPress, I'm interested in modern web technologies, state
    management solutions, and creating elegant developer experiences. I enjoy
    writing about technical topics and sharing what I've learned through my blog
    posts.
  </p>

  <h2>Open Source</h2>
  <p>
    I'm an active contributor to the open source community, with hundreds of
    contributions across various projects. You can find my work on <a
      href="https://github.com/michalczaplinski"
      target="_blank">GitHub</a
    >, where I maintain and contribute to several repositories.
  </p>

  <h2>Connect With Me</h2>
  <p>
    I'm always interested in connecting with fellow developers and discussing
    web development. You can find me on:
  </p>

  <ul>
    <li>
      <a href="https://github.com/michalczaplinski" target="_blank">GitHub</a>
    </li>
    <li><a href="https://x.com/c_z_a_p_l_a" target="_blank">X (Twitter)</a></li>
    <li>
      <a href="https://www.linkedin.com/in/michal-czaplinski/" target="_blank"
        >LinkedIn</a
      >
    </li>
  </ul>

  <h2>Blog</h2>
  <p>
    In my blog, I write about JavaScript, React, state management, and other web
    development topics. Feel free to check out my articles to learn more about
    these subjects and my approaches to solving common development challenges.
  </p>
</Layout>
