---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + (subpath?.[0] || "");
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>
<style>
  a {
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.2s ease;
  }
  a:hover {
    border-color: var(--accent);
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--accent);
  }
  a.active {
    font-weight: 900;
    color: var(--blueprint-blue);
    background-color: var(--accent);
    border-color: var(--accent);
  }
</style>
