<div id="cube-wrapper">
  <div id="cube-container" class="cube-container cube-container-rotate-once">
    <div class="cube loc-1">
      <!-- <div class="face front"></div> -->
      <div class="face back"></div>
      <div class="face left"></div>
      <div class="face right"></div>
      <div class="face top"></div>
      <div class="face bottom"></div>
    </div>
    <div class="cube loc-2">
      <!-- <div class="face front"></div> -->
      <!-- <div class="face back"></div> -->
      <div class="face left"></div>
      <div class="face right"></div>
      <div class="face top"></div>
      <div class="face bottom"></div>
    </div>
    <div class="cube loc-3">
      <!-- <div class="face front"></div> -->
      <!-- <div class="face back"></div> -->
      <div class="face left"></div>
      <div class="face right"></div>
      <div class="face top"></div>
      <div class="face bottom"></div>
    </div>
    <div class="cube loc-4">
      <!-- <div class="face front"></div> -->
      <!--  <div class="face back"></div> -->
      <div class="face left"></div>
      <div class="face right"></div>
      <div class="face top"></div>
      <div class="face bottom"></div>
    </div>
    <div class="cube loc-5">
      <div class="face front"></div>
      <!-- <div class="face back"></div> -->
      <div class="face left"></div>
      <div class="face right"></div>
      <!-- <div class="face top"></div> -->
      <div class="face bottom"></div>
    </div>
    <div class="cube loc-6">
      <div class="face front"></div>
      <div class="face back"></div>
      <div class="face left"></div>
      <div class="face right"></div>
      <!-- <div class="face top"></div> -->
      <!-- <div class="face bottom"></div> -->
    </div>
    <div class="cube loc-7">
      <div class="face front"></div>
      <div class="face back"></div>
      <div class="face left"></div>
      <div class="face right"></div>
      <!-- <div class="face top"></div> -->
      <!-- <div class="face bottom"></div> -->
    </div>
    <div class="cube loc-8">
      <div class="face front"></div>
      <div class="face back"></div>
      <div class="face left"></div>
      <div class="face right"></div>
      <!-- <div class="face top"></div> -->
      <!-- <div class="face bottom"></div> -->
    </div>
    <div class="cube loc-9">
      <div class="face front"></div>
      <div class="face back"></div>
      <div class="face left"></div>
      <!-- <div class="face right"></div> -->
      <div class="face top"></div>
      <!-- <div class="face bottom"></div> -->
    </div>
    <div class="cube loc-10">
      <div class="face front"></div>
      <div class="face back"></div>
      <!-- <div class="face left"></div> -->
      <!-- <div class="face right"></div> -->
      <div class="face top"></div>
      <div class="face bottom"></div>
    </div>
    <div class="cube loc-11">
      <div class="face front"></div>
      <div class="face back"></div>
      <!-- <div class="face left"></div> -->
      <!-- <div class="face right"></div> -->
      <div class="face top"></div>
      <div class="face bottom"></div>
    </div>
    <div class="cube loc-12 clipped">
      <div class="face front"></div>
      <div class="face back"></div>
      <!-- <div class="face left"></div> -->
      <div class="face right"></div>
      <div class="face top"></div>
      <div class="face bottom"></div>
    </div>
  </div>
</div>

<script>
  const cubeWrapper = document.getElementById("cube-wrapper");
  const cubeContainer = document.getElementById("cube-container");

  if (cubeWrapper && cubeContainer) {
    cubeWrapper.addEventListener("mouseenter", () => {
      // Use a new class for continuous/repeated rotation on hover
      cubeContainer.classList.add("cube-container-rotating");
      // Remove the initial animation class if it exists
      cubeContainer.classList.remove("cube-container-rotate-once");
      cubeContainer.classList.remove("cube-container-rotate-again");
    });

    cubeWrapper.addEventListener("mouseleave", () => {
      // Remove the hover rotation class
      cubeContainer.classList.remove("cube-container-rotating");
    });
  }
</script>

<style>
  /* Ensure your theme variables (--theme-left, --main-color, etc.) are defined globally */
  /* For example, in a global CSS file or a :root declaration */

  .cube-container {
    transform-style: preserve-3D;
    scale: 0.4;
    width: 2em;
    height: 2em;
    padding-top: 0.5em;
    padding-right: 1em;
    margin: auto;
    position: relative;
    margin-bottom: 30px;
    z-index: 9999;
    transform: rotateX(-35.25deg) rotateY(-45deg);
    cursor: pointer;
  }

  .cube-container-rotate-once {
    animation: rotatorinital 1.8s ease-in-out 0.7s reverse;
  }

  .cube-container-rotate-again {
    animation: rotatorinital 1.8s ease-in-out 0.7s reverse;
  }

  /* Add a class for hover rotation */
  .cube-container-rotating {
    /* Use the rotator keyframes and make it repeat */
    animation: rotator 2.5s linear infinite;
  }

  .cube {
    width: 15px;
    height: 15px;
    position: absolute;
    transform-style: preserve-3D;
  }

  .cube .face {
    width: inherit;
    height: inherit;
    position: absolute;
    transform-origin: 0 0;
  }

  .cube .front {
    background: var(--accent);
  }

  .cube .back {
    background: rgb(var(--black));
    transform: translateZ(-15px) rotateY(180deg) translateX(-15px);
  }

  .cube .left {
    background: rgb(var(--gray));
    transform: rotateY(-90deg) translateX(-15px);
  }

  .cube .right {
    background: rgb(var(--gray));
    transform: rotateY(90deg) translateZ(15px);
  }

  .cube .top {
    background: rgb(var(--gray-light));
    transform: rotateX(90deg) translateY(-15px);
  }

  .cube .bottom {
    background: rgb(var(--gray-dark));
    transform: rotateX(-90deg) translateZ(15px);
  }

  .cube.clipped .front {
    background: transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
  }

  .cube.clipped .front:after {
    content: "";
    width: 0px;
    height: 0px;
    border-width: 7.5px;
    border-color: var(--accent) transparent transparent var(--accent);
    border-style: solid;
    display: block;
  }

  .cube.clipped .back {
    background: transparent;
    border-left: 5px solid transparent;
    border-bottom: 5px solid transparent;
  }

  .cube.clipped .back:after {
    content: "";
    width: 0px;
    height: 0px;
    border-width: 7.5px;
    border-color: rgb(var(--black)) rgb(var(--black)) transparent transparent;
    border-style: solid;
    display: block;
  }

  .cube.clipped .right,
  .cube.clipped .bottom {
    visibility: hidden;
  }

  .loc-1 {
    transform: translate3D(30px, 60px, -30px);
  }

  .loc-2 {
    transform: translate3D(30px, 60px, -15px);
  }

  .loc-3 {
    transform: translate3D(30px, 60px, 0px);
  }

  .loc-4 {
    transform: translate3D(30px, 60px, 15px);
  }

  .loc-5 {
    transform: translate3D(30px, 60px, 30px);
  }

  .loc-6 {
    transform: translate3D(30px, 45px, 30px);
  }

  .loc-7 {
    transform: translate3D(30px, 30px, 30px);
  }

  .loc-8 {
    transform: translate3D(30px, 15px, 30px);
  }

  .loc-9 {
    transform: translate3D(30px, 0px, 30px);
  }

  .loc-10 {
    transform: translate3D(45px, 0px, 30px);
  }

  .loc-11 {
    transform: translate3D(60px, 0px, 30px);
  }

  .loc-12 {
    transform: translate3D(75px, 0px, 30px);
  }

  @keyframes rotator {
    0% {
      transform: rotateX(-35.25deg) rotateY(-45deg);
    }
    50% {
      transform: rotateX(-35.25deg) rotateY(-45deg);
    }
    100% {
      transform: rotateX(-35.25deg) rotateY(315deg);
    }
  }

  @keyframes rotatorinital {
    0% {
      transform: rotateX(-35.25deg) rotateY(-45deg);
    }
    50% {
      transform: rotateX(-35.25deg) rotateY(-45deg);
    }
    100% {
      transform: rotateX(-35.25deg) rotateY(315deg);
    }
  }
</style>
